<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
          <rules>
            <rule name="Imported Rule 1" stopProcessing="true">
              <match url="^" ignoreCase="false" />
              <conditions>
                <add input="{REQUEST_FILENAME}" matchType="IsFile" ignoreCase="false" negate="true" />
              </conditions>
              <action type="Rewrite" url="index.php" appendQueryString="true" />
            </rule>
          </rules>
        </rewrite>
    </system.webServer>
    <connectionStrings>
        <add connectionString="Server=localhost;Database=mycakedb331;Uid=cakeuser331;Pwd=%^am6a]!ykL*" name="mycakedb331" providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
</configuration>